@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

.Background {
  width: 1479px;
  height: 750px;
  position: absolute;
  margin-left: -250px;
  color: black;
  text-align: center;
}

.Background img,
.Logo-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Login-container {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 35px;
  left: 595px;
  background-color: rgb(21, 101, 193, 0.15);
  backdrop-filter: blur(5px);
}

.Register-container {
  width: 400px;
  height: 680px;
  margin-left: 15px;
  position: absolute;
  top: 35px;
  left: 595px;
  background-color: rgb(21, 101, 193, 0.15);
  backdrop-filter: blur(5px);
}

.title-container-1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-left: 30px;
  margin-top: 25px;
  font-family: "Bebas Neue", cursive;     
}

.Logo-container {
  width: 50px;
  height: 100%;
}

.Logo-container{
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.Title_R {
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Cambay', sans-serif;
  margin-bottom: -15px;
}

form {
  margin-top: 20px;
}

#User {
  position: relative;
  left: -115px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Age_Login {
  position: relative;
  left: -135px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Cell_Login {
  position: relative;
  left: -115px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Email {
  position: relative;
  left: -130px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}


#Password {
  position: relative;
  left: -118px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#password {
  position: relative;
  left: -86px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.place {
  width: 300px;
  height: 30px;
  font-size: 15px;
  color: black;
}

#place:focus {
  outline: none;
}

.button-container {
  position: absolute;
  left: 30%;
  top: 70%;
}

.Create-button-container {
  position: absolute;
  left: 30%;
  bottom: 20%;
  top: 540px;
}

#Login-button {
  width: 150px;
  height: 30px;
  background: #008cff;
  background: -webkit-linear-gradient(to left, #0072ff, #027bdf);
  background: linear-gradient(to left, #0072ff, #00b7ff);
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 52px;
  border: 2px solid black;
  text-decoration: none;
  font-size: 15px;
}

#Create-button {
  width: 150px;
  height: 30px;
  background: #f00000;
  background: -webkit-linear-gradient(to left,
      #f21f14,
      #f00000);
  background: linear-gradient(to left,
      #ff2519,
      #f00000);
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid black;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}


#Create-button_cancel {
  width: 150px;
  height: 40px;
  background: #f00000;
  background: -webkit-linear-gradient(to left,
      #f21f14,
      #f00000);
  background: linear-gradient(to left,
      #ff2519,
      #f00000);
  font-size: 15px;
  color: white;
  padding: 9px 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid black;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  top:45%;
}

#Create-User-button {
  width: 150px;
  height: 40px;
  margin-top: 39px;
  background: #008cff;
  background: -webkit-linear-gradient(to left, #0072ff, #027bdf);
  background: linear-gradient(to left, #0072ff, #00b7ff);
  font-size: 15px;
  color: white;
  padding: 5px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid black;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  border-radius: 25px;
  cursor:pointer;
}

#Create-User-button-Register {
  width: 150px;
  height: 40px;
  top:30%;
  background: #008cff;
  background: -webkit-linear-gradient(to left, #0072ff, #027bdf);
  background: linear-gradient(to left, #0072ff, #00b7ff);
  font-size: 15px;
  color: white;
  padding: 5px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid black;
  text-decoration: none;
  font-size: 15px;
  border-radius: 25px;
}

h4 {
  margin-top: 15px;
}

#Text-Login{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}