@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Header-controler {
  width: 100%;
  height: 20%;
  margin-top: -2%;
  margin-left: -0.6%;
  background: #019002;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.div-container-title{
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 180%;
}

.div-title {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  margin-left: 2%;
  margin-top: 10%;
}

.Logo{
  margin-top: 5%;
  margin-left: -25%;
  width: 13vh;
  height:13vh;
  display: flex;
  justify-content: center;
}

.Logo img{
  animation: movimiento 3s infinite linear;
}

@keyframes movimiento {
  0%{
      transform: translateX(0);
  }

  50%{
      transform: translateX(8%);
  }

  100%{
      transform: translateY(0%);
  }
  
}

img {
  object-fit: cover;
  margin-top: 0%;
  width: 100%;
  height: 100%;
}

.Nav-controler {
  background: #002923;
  position: absolute;
  width: 100.4%;
  height: 5%;
  margin-top: 7%;
  margin-left: -1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 40vh;
  top: 3vh;
  
}

.Nav-controler a {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  margin-left: 1vh;
  margin-right: 1vh;
}
