
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Header {
  width: 100%;
  height: 20%;
  background:#019002;
  margin-top: -0.9%;
  margin-left: -0.6%;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: rgb(190, 184, 206) 2px solid;
  
}

.div-title {
  font-family: "Bebas Neue", cursive;
  width: 100%;
  margin-left: 2%;
}

#logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 1%;
  text-decoration: none;
}

#place-1 {
  animation: movimiento 3s infinite linear;
}

@keyframes movimiento {
  0%{
      transform: translateX(0);
  }

  50%{
      transform: translateX(8%);
  }

  100%{
      transform: translateY(0%);
  }
  
}

#place-1{
  width: 10%;
  height: 100%;
}

img {
  object-fit: cover;
  margin-top: 0%;
  margin-right: 5%;
  width: 100%;
  height: 100%;
}

#logo span {
  font-size: 30px;
}

#Estadistica {
  width: 100px;
  height: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  right: 560px;
  text-decoration: none;
}

#ESP32{
  width: 130px;
  height: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  right: 400px;
  border-left: white 2px solid;
  border-right: white 2px solid;
  text-decoration: none;
}

#logo a {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

#Estadistica a,
#ESP32 a{
  font-size: 15px;
  position: absolute;
  left: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-container {
  
  width: 30%;
  height: 30%;
  left: 0%;
 
}

ul {
  display: none;
}

input:checked~ul {
  display: block;
}

#menu-hamburger {
  display: none;
}

.menu-container label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.menu-container label:hover {
  background: rgb(0, 84, 163);
}

input:checked~label {
  background: rgb(0, 136, 226);
}

.menu-container ul {
  margin-top: 0;
  position: relative;
  right: 160px;
  padding: 0;
  width: 200px;
  text-align: center;
  z-index: 1;
}

.menu-container li {
  display: block;
  background: #0072ff;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li:hover {
  filter: brightness(110%);
}
