.Body {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 219.8vh;
    margin-left: -1%;
}

.div-container-statistic {
    height: auto;
    width: 219.8vh;
    margin-top: 4.2%;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: auto;
    text-align: center;
    padding: -0vh 0vh 10vh
}